body{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.calc{
    display: flex;
    flex-direction: column;
    aspect-ratio: 3/4;
    padding: 1.5rem;
    width: 18rem;
    background-color: rgba(253,232,54,255);
}

.buttons{
    display: flex;
    width: 100%;
    height: 80%;
}

.buttons button{
    background-color: white;
    color: black;
    border-color: rgb(218, 218, 218);
    border-width: 3px;
    border-radius: 3px;
    border-style:groove;
}

.buttons button:active{
    transform: scale(.95);
}

.display{
    border: 2px groove black;
    background-color: white;
    height: 20%;
    position: relative;
    margin-bottom: 2px;
}

.recent{
    font-size: 2.25em;
    text-align: right;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 60%;
    padding-bottom: 0px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 65%;
    font-size: 18px;
}

.numbers button{
    padding: 5px;
}

.nine{
    grid-column-start: 2;
}

.operations{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    flex-grow: 1;
}



.clear{
    background-color:#ef5d5d;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border:2px solid #ef5d5d;
}

.functions .backspace{
    background-color: rgb(88, 88, 239);
    border:2px solid rgb(88, 88, 239);
    color: white;
    border-radius: 5px;
    font-size: .5rem;
}

.history{
    font-size: 1.25em;
    text-align: right;
    height:40%;
    padding: .25em;
}

span{
    display: block;
}

.note{
    font-size: 1.25rem;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

@media (width >= 900px) {
    .calc{
        width: 20%;    
    }
}